image: atlassian/default-image:latest

definitions:
  caches:
    apt: /var/cache/apt
pipelines:
  branches:
    main:
      - step:
          name: Deploy to EC2
          deployment: production
          caches:
            - apt
          script:
            - ssh-keygen -y -f /opt/atlassian/pipelines/agent/ssh/id_rsa
            - ssh -o BatchMode=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ubuntu@"$EC2_HOST" "echo 'It works!'"