image: atlassian/default-image:latest

definitions:
  caches:
    apt: /var/cache/apt
pipelines:
  branches:
    main:
      - step:
          name: Inicialize SSH
          deployment: production
          script:
            - apt-get update && apt-get install -y openssh-client
            - apt-get update && apt-get install -y python3-pip
            - pip3 install awscli
            - mkdir -p ~/.aws
            - echo "[default]" > ~/.aws/config
            - echo "aws_access_key_id = $AWS_ACCESS
            - echo "region = us-east-1" >> ~/.aws/config
            - echo "[default]" > ~/.aws/credentials
            - echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
            - echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
            - ls ~/.aws
            - cat ~/.aws/config
            - ssh-keygen -y -f /opt/atlassian/pipelines/agent/ssh/id_rsa
            - mkdir -p ~/.ssh
            - ssh-keygen -t rsa -b 4096 -C "bitbucket-pipeline" -f ~/.ssh/pipeline_key -N "" -q
            - cat ~/.ssh/pipeline_key.pub
            - ls ~/.ssh
            - echo "$ACCESS_KEY"
      - step:
          name: Connect to EC2
          script:
              - ssh -i /opt/atlassian/pipelines/agent/ssh/id_rsa -o BatchMode=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ubuntu@"$EC2_HOST" "echo 'Connected to EC2 instance successfully!'"