image: atlassian/default-image:latest

definitions:
  caches:
    apt: /var/cache/apt
pipelines:
  branches:
    main:
      - step:
          name: Deploy to EC2
          deployment: production
          caches:
            - apt
          script:
            - ssh -o BatchMode=yes ubuntu@"$EC2_HOST" "echo 'It works!'"
