image: atlassian/default-image:latest

definitions:
  caches:
    apt: /var/cache/apt

pipelines:
  branches:
    main:
      - step:
          name: Deploy to EC2
          deployment: production
          caches:
            - apt
          script:
            - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
            - ssh ubuntu@"$EC2_HOST" "echo 'Hello from Bitbucket!'"