image: atlassian/default-image:latest

definitions:
  caches:
    apt: /var/cache/apt

pipelines:
  branches:
    main:
      - step:
          name: Deploy to EC2
          deployment: production
          caches:
            - apt
          script:
            - export SSH_ASKPASS=
            - rm -f ~/.ssh/known_hosts
            - ssh-keyscan -H "$EC2_HOST" > ~/.ssh/known_hosts
            - ssh -o BatchMode=yes -o StrictHostKeyChecking=no ubuntu@"$EC2_HOST" "cd /opt/odoo-law-firm && git pull && cd docker && sudo docker-compose down && sudo docker-compose up -d"