image: atlassian/default-image:latest

definitions:
  caches:
    apt: /var/cache/apt
pipelines:
  branches:
    main:
      - step:
          name: Deploy to EC2
          deployment: production
          caches:
            - apt
          script:
            - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
            - ssh-keygen -y -f /opt/atlassian/pipelines/agent/ssh/id_rsa
            - ssh -o BatchMode=yes ubuntu@ec2-44-199-253-174.compute-1.amazonaws.com "echo 'It works!'"
