image: atlassian/default-image:3

pipelines:
  branches:
    main:
      - step:
          name: Deploy to EC2
          deployment: production
          script:
            - apt-get update && apt-get install -y openssh-client

            # Preparamos SSH
            - mkdir -p ~/.ssh
            - chmod 700 ~/.ssh

            # Escribimos la clave privada desde la variable EC2_SSH_KEY
            - echo "$EC2_SSH_KEY" > ~/.ssh/id_ed25519
            - chmod 600 ~/.ssh/id_ed25519

            # Conectamos al EC2 y hacemos deploy
            - ssh -o StrictHostKeyChecking=no ubuntu@$EC2_HOST "
                cd /opt/odoo-law-firm &&
                git pull &&
                cd docker &&
                sudo docker-compose down &&
                sudo docker-compose up -d
              "