#version: "3.9"

services:
  db:
    image: postgres:15
    container_name: odoo19_db
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

  odoo:
    image: odoo:19
    container_name: odoo19
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      HOST: db
      USER: odoo
      PASSWORD: odoo
      ADMIN_PASSWORD: Lorenaluiz1
    volumes:
      - odoo-data:/var/lib/odoo
      - ../custom-addons:/mnt/extra-addons
#      - ../config/:/etc/odoo
#      - ../config/odoo.conf:/etc/odoo/odoo.conf
    command: >
      odoo
      --addons-path=/mnt/extra-addons
      -u law_firm_management
      -d matias-test
      --dev=all
    restart: always

volumes:
  db_data:
  odoo-data: